@import url("https://fonts.googleapis.com/css?family=Comfortaa%7CPatua+One");
/* Typography */
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

header {
  margin-left: 2rem;
}
h1,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  justify-content: center;
}

h2 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  justify-content: center;
  text-align: center;
}

li {
  list-style: none;
}

.cake__options {
  border: 2.5px solid rgb(214, 3, 3);
  padding: 2.2rem;
  border-radius: 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}

.frosting__options {
  border: 2.5px solid rgb(214, 3, 3);
  padding: 2.2rem;
  border-radius: 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}

.toppings__options {
  border: 2.5px solid rgb(214, 3, 3);
  padding: 2.2rem;
  border-radius: 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}
.options {
  align-content: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  flex-basis: 24%;
  margin-left: 2rem;
}

.purchaseButton {
  margin-top: 5rem;
  text-align: center;
}

#purchase {
  margin: 1rem 0 2rem 4rem;
  padding: 0.5rem;
  border-radius: 00.25rem;
  background-color: rgb(255, 219, 57);
  color: rgb(0, 0, 0);
  font-size: 1rem;
  box-shadow: 0.15rem 0.15rem 0.2rem rgb(143, 143, 143);
}

.cupcake__orders {
  margin-left: 5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-left: 1rem;
  border: 1.25px solid rgb(110, 110, 110);
  border-radius: 0.5rem;
}
